{#
  KaTeX 0.16.11, served from this site. The files under static/katex are copied unmodified from
  the katex npm package (licence in static/katex/LICENSE); only the woff2 fonts are shipped since
  every current browser takes the first supported source. The integrity hashes are the upstream
  ones, so they also verify that the vendored files have not been altered.
#}
<link rel="stylesheet" href="{{ get_url(path='katex/katex.min.css') }}" integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+" crossorigin="anonymous">
<script defer src="{{ get_url(path='katex/katex.min.js') }}" integrity="sha384-7zkQWkzuo3B5mTepMUcHkMB5jZaolc2xDwL6VFqjFALcbeS9Ggm/Yr2r3Dy4lfFg" crossorigin="anonymous"></script>
<script defer src="{{ get_url(path='katex/contrib/auto-render.min.js') }}" integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk" crossorigin="anonymous"></script>
<script defer src="{{ get_url(path='katex/contrib/copy-tex.min.js') }}" integrity="sha384-HORx6nWi8j5/mYA+y57/9/CZc5z8HnEw4WUZWy5yOn9ToKBv1l58vJaufFAn9Zzi" crossorigin="anonymous"></script>
<script defer src="{{ get_url(path='js/math.js') }}"></script>
